HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Secrets
.env
*.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries
.idea/compiler.xml
out/
.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Build y dependencias
.gradle/

# Temporales
tmp/